@media only screen and (max-width: 600px) {
<<<<<<< HEAD
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
footer {
  clear: left;
  height: 60px;
  width: 100%;
  border-top: 1px solid #CCCCCC;
  display: flex;
  background-color: #FFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #484848;
  text-align: center;
=======

}

/* Small sized devices (portrait of tablets and for large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium sized devices (landscape of tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large sized devices (laptops or desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

footer {
	background-color: #FFF;
	clear: left;
	height: 60px;
	border-top: 1px solid #CCCCCC;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p {
	color: #484848;
	text-align: center;
>>>>>>> 653e38396c9b4ee4f60da9b43db0a65add2c8792
}
