footer {
	background-color: white;
<<<<<<< HEAD
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
=======
    	height: 60px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
>>>>>>> 653e38396c9b4ee4f60da9b43db0a65add2c8792
	bottom: 0;
}
