header {
<<<<<<< HEAD
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header .logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
=======
	background-color: white;
	height: 70px;
	width: 100%;
	display: flex;
	border-bottom: 1px solid #CCCCCC;
	align-items: center;
}
header .logo {
	padding-left: 20px;
	height: 60px;
	width: 142px;
	background: url("../images/logo.png") no-repeat center;
>>>>>>> 653e38396c9b4ee4f60da9b43db0a65add2c8792
}
